<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.shts.android.keyakifeed" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- for push service START -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="jp.shts.android.keyakifeed.permission.C2D_MESSAGE" />
    <uses-permission android:name="jp.shts.android.keyakifeed.permission.C2D_MESSAGE" />
    <!-- for push service END -->

    <application
        android:name=".KeyakiFeedApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.BlogActivity" />
        <activity android:name=".activities.MemberDetailActivity" />
        <activity android:name=".activities.AllMemberActivity" />
        <activity android:name=".activities.OtherMenuActivity" />
        <activity android:name=".activities.MatomeBrowseActivity" />
        <activity android:name=".activities.GalleryActivity"
            android:theme="@style/Theme.AppTheme.TranslucentStatusBar"/>
        <activity android:name=".activities.DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- deep link from default -->
                <data android:scheme="http" android:host="keyakizaka46-mirror.herokuapp.com" android:pathPrefix="/entry/show/"/>
            </intent-filter>
        </activity>
        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <service android:name=".services.DownloadImageService" android:exported="true" />

        <!-- for push service START -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="jp.shts.android.keyakifeed" />
            </intent-filter>
        </receiver>
        <!-- for push service END -->
        <!-- for receive parse push -->
        <receiver android:name="jp.shts.android.keyakifeed.receivers.BlogUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="jp.shts.android.keyakifeed.BLOG_UPDATED"/>
                <action android:name="jp.shts.android.keyakifeed.REPORT_UPDATED"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />

        <provider
            android:authorities="jp.shts.android.keyakifeed.providers.keyakifeed"
            android:name="jp.shts.android.keyakifeed.providers.KeyakiFeedProvider" />
    </application>

</manifest>
